@keyframes anim {
    0%{
        transform: translateX(0px);
    }
    50%{
        transform: translateX(150px);
    }
    100%{
        transform: translateX(150px) rotate(30deg);
    }
}
.drone
{
    width: 200px;
    height: 150px;
    background-color: blue;

}


.drone:hover
{
    animation: anim 5s;
}
