@keyframes anim {
  30% {
        transform: translate(40px,-10px) rotate(-10deg);
    }
  50% {
        transform: translateX(-10px) rotate(10deg);
    }
  80% {
        transform: translate(10px, 10px) rotate(-10deg);
    }
}
@keyframes animonde1 {
  from {visibility: hidden;}
  30% {visibility:hidden;}
  50% {visibility:hidden;}
  80% {visibility:visible;}
  to {visibility: hidden;}
}
@keyframes animonde2 {
  from {visibility: hidden;}
  30% {visibility:hidden;}
  50% {visibility:visible;}
  80% {visibility:visible;}
  to {visibility: hidden;}
}
@keyframes animonde3 {
  from {visibility: hidden;}
  30% {visibility:visible;}
  50% {visibility:visible;}
  80% {visibility:visible;}
  to {visibility: hidden;}
}

.drone
{
    margin: 100px;
    width: 200px;
    height: 150px;
}

.drone
  {animation: anim 10s alternate infinite;}
  #onde1
    {animation: animonde1 4s alternate infinite;}
    #onde2
      {animation: animonde2 4s alternate infinite;}
      #onde3
        {animation: animonde3 4s alternate infinite;}
