@keyframes anim {
    from {
        transform: translateX(0px);
    }

  30% {
        transform: translateX(40px) rotate(-10deg);
    }

  50% {
        transform: translateX(-10px) rotate(10deg);
    }

  80% {
        transform: translate(10px, 10px) rotate(-10deg);
    }

  to {
        transform: translate(-10px, -10px) rotate(10deg);
        border-radius: 30px;
    }
}

.drone
{
    margin: 100px;
    width: 200px;
    height: 150px;
}

.drone:hover
{
    animation: anim 10s linear alternate infinite; /* Boucle d'animation ! */
}
